/.idea/libraries/Gradle__D__sobotproject_sdkproject_Sobot_Sdk_Demo_Android_sobotsdk_mall_x_libs_sobot_sdk_mall_x_lib_3_2_0_jar.xml
/.idea/modules/sobotsdk-mall-x/Sobot_Sdk_Demo_Android.sobotsdk-mall-x.iml
