<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sobot.chat">
    <!-- 访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".conversation.SobotChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SobotPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotSkillGroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />
        <activity
            android:name=".activity.SobotPostMsgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SobotConsultationListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SobotPhotoListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotCusFieldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />
        <activity
            android:name=".activity.SobotQueryFromActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SobotChooseCityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />
        <activity
            android:name=".activity.SobotChooseFileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SobotFileDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotTicketDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotHelpCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotProblemCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name=".activity.SobotProblemDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostLeaveMsgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:screenOrientation="behind"
            android:theme="@style/sobot_activity_def_theme" />

        <activity
            android:name=".widget.dialog.SobotRobotListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />

        <activity
            android:name=".widget.dialog.SobotReplyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />

        <activity
            android:name=".widget.dialog.SobotTicketEvaluateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />

        <activity
            android:name=".widget.dialog.SobotEvaluateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />

        <activity
            android:name=".widget.dialog.SobotPostMsgTmpListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|touchscreen|navigation|locale|fontScale|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/sobot_AppThemeDialogIsTranslucent" />

        <service
            android:name=".core.channel.SobotTCPServer"
            android:exported="false"
            android:label="SobotChatTCPServer" />
        <service android:name="com.sobot.chat.server.SobotSessionServer" />

        <provider
            android:name=".provider.SobotFileProvider"
            android:authorities="${applicationId}.sobot_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sobot_provider_paths" />
        </provider>
    </application>

</manifest>